<div class="course-video-widget">
    <div class="course-widget-wrapper mb-30">
        <div class="course-video-thumb w-img">
            <img src="{{course.image}}">
            <div class="sidber-video-btn">
                <a  [href]="videoUrl" class="popup-video" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="fas fa-play"></i></a>
            </div>
        </div>
      <div class="course-video-price">
        <span *ngIf="course.price == 0">FREE</span>
        <span *ngIf="course.price > 0">$ {{course.price}}</span>
      </div>
        <div class="course-video-body">
            <ul>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-filter"></i>
                        <span>Level</span>
                    </div>
                    <div class="video-corse-info">
                        <span>{{course.level}}</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-computer"></i>
                        <span>Lectures</span>
                    </div>
                    <div class="video-corse-info">
                        <span>{{course.nbr_of_lessons}} Lectures</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-clock"></i>
                        <span>Workload</span>
                    </div>
                    <div class="video-corse-info">
                        <span>{{course.workload}} hours</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-menu-2"></i>
                        <span>Speciality</span>
                    </div>
                    <div class="video-corse-info">
                        <span>{{course.speciality}}</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-global"></i>
                        <span>Laguage</span>
                    </div>
                    <div class="video-corse-info">
                        <span>English</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-bookmark-white"></i>
                        <span>Access</span>
                    </div>
                    <div class="video-corse-info">
                        <span>Full Lifetime</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-award"></i>
                        <span>Certificate</span>
                    </div>
                    <div class="video-corse-info">
                      <span *ngIf="course.certificate == true">Yes</span>
                      <span *ngIf="course.certificate ==false">No</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-list"></i>
                        <span>Recourse</span>
                    </div>
                    <div class="video-corse-info">
                        <span> Downloadable slides and lab Files </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="video-wishlist" *ngIf="course.price > 0 && role!='Super_Admin'&& !enrolledSuccessfully && course.status ==='approved' && user != teacher_id">
            <button class="video-cart-btn" (click)="requestEnrollement(user,course.id)"><i class="fas fa-hand-paper" ></i>Request Access</button>
        </div>
      <div class="video-wishlist " *ngIf="enrolledSuccessfully && course.price ==0 && role!='Super_Admin'&& course.status ==='approved'">
        <button class="video-cart-btn success" disabled><i class="fas fa-check"></i>already enrolled</button>
      </div>
      <div class="video-wishlist " *ngIf="enrolledSuccessfully && course.price >0 && role!='Super_Admin'&& course.status ==='approved'">
        <button class="video-cart-btn warning" disabled><i class="fas fa-check"></i>request sent</button>
      </div>
      <div class="video-wishlist" *ngIf="course.price == 0 && !enrolledSuccessfully && role!='Super_Admin'&& course.status ==='approved' && user != teacher_id">
        <button class="video-cart-btn" (click)="requestEnrollement(user,course.id)"><i class="fas fa-clipboard-check" ></i>Enroll now</button>
      </div>
<!--        <div class="course-gift">-->
<!--            <div class="course-apply-coupon">-->
<!--                <a href="#">Apply Coupon</a>-->
<!--            </div>-->
<!--            <div class="course-gift-coupon">-->
<!--                <a href="#">Gift Courses</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

