.addContainer {
  width: 350px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-container {
  margin-top: 10px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}
