<section class="content">
  <div class="content-block mt-100">

  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader pb-4">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>All premuim course enrollement requests</h2>
                      </li>
                      <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="REFRESH">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li class="tbl-header-btn">
                        <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                          <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                            <mat-icon class="col-white">delete
                            </mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table [dataSource]="dataSource" matSort class="mat-cell">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="firstName">
                  <mat-header-cell  class="column"  mat-header-cell *matHeaderCellDef> First Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" >{{row.user.firstName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastName">
                  <mat-header-cell  class="column" mat-header-cell *matHeaderCellDef> Last Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.user.lastName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="profile">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Profile
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row">
                    <div *ngIf="row.user.is_student && !row.user.is_teacher">
                              <span class="badge badge-solid-pink">
                                Student</span>
                    </div>
                    <div *ngIf="row.user.is_teacher">
                              <span class="badge badge-solid-cyan">
                                Teacher</span>
                    </div>
                    <div *ngIf="row.user.is_head_of_sub_dep">
                              <span class="badge badge-solid-red">
                                head_of_sub_department</span>
                    </div>
                    <div *ngIf="row.user.is_head_of_super_dep">
                              <span class="badge badge-solid-purple">
                                head_of_super_department</span>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="user_sub_department">
                  <mat-header-cell mat-header-cell *matHeaderCellDef> user department
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.user_sub_department_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="user_manager">
                  <mat-header-cell mat-header-cell *matHeaderCellDef> user manager
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.user_sub_department_head}}</mat-cell>
                </ng-container>
<!--                <ng-container matColumnDef="gender">-->
<!--                  <mat-header-cell *matHeaderCellDef mat-sort-header> Gender-->
<!--                  </mat-header-cell>-->
<!--                  <mat-cell mat-cell *matCellDef="let row">-->
<!--                    <div *ngIf="row.user.gender=='male'">-->
<!--                              <span class="badge badge-solid-green">-->
<!--                                {{row.user.gender}}</span>-->
<!--                    </div>-->
<!--                    <div *ngIf="row.user.gender=='female'">-->
<!--                              <span class="badge badge-solid-purple">-->
<!--                                {{row.user.gender}}</span>-->
<!--                    </div>-->
<!--                  </mat-cell>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="mobile_phone">-->
<!--                  <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>-->
<!--                  <mat-cell *matCellDef="let row">-->
<!--                    {{row.user.mobile_phone}}</mat-cell>-->
<!--                </ng-container>-->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.user.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="requested_course">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Requested course</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.course_title}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.course_price}} $</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sub_department">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Course department</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.sub_department_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sub_department_budget">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Course department left budget</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.sub_department_budget}} $</mat-cell>
                </ng-container>
                <ng-container matColumnDef="super_department">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>course super department</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.super_department_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="super_department_budget">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Super department left budget</mat-header-cell>
                  <mat-cell *matCellDef="let row" >
                    {{row.super_department_budget}} $</mat-cell>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell  class="pr-0 column" *matHeaderCellDef>Actions
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                    <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2 small" (click)="approve(row)" (click)="$event.stopPropagation()">
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red small" (click)="$event.stopPropagation()" (click)="reject(row)">
                      <mat-icon>thumb_down</mat-icon>
                    </button>

                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <!-- context menu start -->
              <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                   [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>
              <mat-paginator #paginator [length]="dataSource.renderedData.length" [pageIndex]="0" [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
