<section class="content">
  <app-breadcrumb breadcrumbImage='url(assets/img/bg/settings.avif)' breadcrumbTitle="Settings" breadcrumbSubTitle1="admin" breadcrumbSubTitle2="account settings">
  </app-breadcrumb>
  <div class="content-block">
    <div class="card">
      <div class="header">
        <h2>Security Settings</h2>
      </div>
      <div class="body">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="example-container">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="formGroup.get('email').hasError('required')">
              email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formGroup.get('password').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="new_password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formGroup.get('new_password').hasError('required')">
              new password is required
            </mat-error>
          </mat-form-field>

        </div>
        <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading">Save</button>
        </form>
      </div>
    </div>
  </div>
</section>
