<div class="block-header mt-5" >

</div>
<section class="content">
  <app-breadcrumb breadcrumbTitle="Teachers Details"  breadcrumbSubTitle1="admin" breadcrumbSubTitle2="teachers" breadcrumbImage='url(assets/images/user/teachers.png)'></app-breadcrumb>

  <div class="content-block">
    <div class="block-header mt-1" >

    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone psr-3">list_alt</i>
              List View
            </ng-template>
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body">
                    <div class="responsive_table">
                      <div class="materialTableHeader pb-3">
                        <div class="row">
                          <div class="col-9">
                            <ul class="header-buttons-left ms-0">
                              <li class="tbl-search-box">
                                <label for="search-input"><i class="material-icons search-icon">search </i></label>
                                <input placeholder="Search FirstName" type="text" #filter class="browser-default search-field"
                                  aria-label="Search box" (keyup)="onSearchFirstName($event.target.value)">
                              </li>
                              <li class="tbl-search-box">
                                <label for="search-input"><i class="material-icons search-icon">search </i></label>
                                <input placeholder="Search LastName" type="text" #filter class="browser-default search-field"
                                       aria-label="Search box" (keyup)="onSearchLastName($event.target.value)">
                              </li>
                              <li class="tbl-search-box">
                                <label for="search-input"><i class="material-icons search-icon">search </i></label>
                                <input placeholder="Search Department" type="text" #filter class="browser-default search-field"
                                       aria-label="Search box" (keyup)="onSearchDepartment($event.target.value)">
                              </li>
                              <li class="tbl-header-btn">
                                <div class="m-l-10" matTooltip="REFRESH">
                                  <button mat-mini-fab color="primary" (click)="refresh()">
                                    <mat-icon class="col-white">refresh</mat-icon>
                                  </button>
                                </div>
                              </li>
                              <li class="tbl-header-btn">
                                <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                                  <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                                    <mat-icon class="col-white">delete
                                    </mat-icon>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-3">
                            <ul class="tbl-export-btn">
                              <li>
                                <div class="export-button m-l-10" matTooltip="XLSX">
                                  <img src="assets/images/icons/xlsx.png" alt=""
                                    (click)="exporter.exportTable('xlsx', {fileName:'assets-list', sheet: 'sheet1'})" />
                                </div>
                              </li>
                              <li>
                                <div class="export-button m-l-10" matTooltip="CSV">
                                  <img src="assets/images/icons/csv.png" alt="" (click)="exporter.exportTable('csv')" />
                                </div>
                              </li>
                              <li>
                                <div class="export-button m-l-10" matTooltip="JSON">
                                  <img src="assets/images/icons/json.png" alt=""
                                    (click)="exporter.exportTable('json')" />
                                </div>
                              </li>
                              <li>
                                <div class="export-button m-l-10" matTooltip="TXT">
                                  <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt')" />
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                        #exporter="matTableExporter">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="image">
                          <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'"> Image
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6">
<!--                            <img [src]="row.user.image" />-->
                            <img [src]="row.user.image ? row.user.image : 'assets/images/user/profile.jpg'" alt="">

                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="firstName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.user.firstName}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.user.lastName}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Email
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.user.email}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="department">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Department
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                            {{row.sub_department}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Gender
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row">
                            <div *ngIf="row.user.gender=='male'">
                              <span class="badge badge-solid-green">
                                {{row.user.gender}}</span>
                            </div>
                            <div *ngIf="row.user.gender=='female'">
                              <span class="badge badge-solid-purple">
                                {{row.user.gender}}</span>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="degree">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Degree
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.degree}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile phone
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.user.mobile_phone}}
                          </mat-cell>
                        </ng-container>


                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Actions
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                            <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(row)"
                              class="tbl-action-btn">
                              <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                            </button>
                            <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                              class="tbl-action-btn">
                              <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </mat-table>
                      <!-- Loading spinner -->
                      <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <!-- context menu start -->
                      <!-- context menu end -->
                      <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                        [style.display]="dataSource.filteredData.length == 0 ? '' : 'none'">
                        No results
                      </div>
                      <div class="pagination-container">
                        <span style="margin-top: 10px; margin-inline: 20px">Total teachers <span>{{dataSource.totalItems}}</span></span>

                        <div class="edu-pagination mt-30 mb-20">
                          <ul>
                            <li><a (click)="next_previous('previous')"><i class="fas fa-angle-left"></i></a></li>
                            <!--                <li class="active"><a href="#"><span>01</span></a> </li>-->
                            <!--                <li><a href="#"><span>02</span></a></li>-->
                            <li *ngFor="let i of [].constructor(dataSource.count); let page = index " [ngClass]="{ 'active': page === (currentPage-1 ) }">
                              <a (click)="onPageChanged(page+1)" style="cursor: pointer">
                                <span *ngIf="(page+1)<10">0{{ page+1}} </span>
                                <span *ngIf="(page+1)>=10">{{ page+1 }}</span>
                              </a>
                            </li>

                            <li><a (click)="next_previous('next')"><i class="fas fa-angle-right"></i></a></li>
                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone psr-3">grid_on</i>
              Grid View
            </ng-template>
            <app-instructormain></app-instructormain>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
