
<section class="m-3 ">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <video width="100%" height="auto" controls (ended)="getNextVideo()">
          <source [src]="video_url" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="video-controls">
          <button mat-icon-button (click)="getPreviousVideo()" [disabled]="data.currentIndex === 0">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button (click)="getNextVideo()" [disabled]="data.currentIndex === data.videos.length - 1">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <mat-expansion-panel [expanded]=true>
          <mat-expansion-panel-header>
            <mat-panel-title>
             <span class="accordion-header">
                        <span class="accordion-tittle">
                            <span>{{data.module.name}}</span>
                        </span>

             </span>
            </mat-panel-title>

          </mat-expansion-panel-header>
        <div class="video-list">
          <ul>
            <li style="display: flex;  align-items: center;" *ngFor="let video of data.videos; let i = index" [ngClass]="{'active': data.currentIndex === i}" (click)="changeVideo(i)">
              <input type="checkbox" [checked]="data.currentIndex === i">
              <label style="  margin-left: 10px;">{{ video.name }}</label>
            </li>
          </ul>
        </div>
        </mat-expansion-panel>

      </div>
    </div>
  </div>
</section>


