<!-- course-details-area-start -->
<section class="content course-detalis-area pb-90">
  <app-breadcrumb breadcrumbTitle="Course overview"
                  breadcrumbSubTitle1="courses" breadcrumbSubTitle2="{{course?.title}}"
                  breadcrumbImage='url(assets/img/course/tuto.png)'></app-breadcrumb>
  <div class="container">
    <div class="row">
      <div class=" col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="course-detalis-wrapper mb-30">
          <div class="course-heading mb-20">
            <h2>{{course?.title}}</h2>
<!--            <div class="course-star">-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fal fa-star"></i></li>-->
<!--              </ul>-->
<!--              <span>({{course.reviews.length}} reviews)</span>-->
<!--            </div>-->
          </div>
          <div class="course-detelis-meta">
            <div class="course-meta-wrapper border-line-meta">
              <div class="course-meta-img">
                <img [src]="teacher.user.image ? teacher.user.image : 'assets/images/user/profile.jpg'" alt="">

              </div>
              <div class="course-meta-text">
                <span>Created by</span>
                <h6><a >{{teacher.user.firstName}} {{teacher.user.lastName}}</a>
                </h6>
              </div>
            </div>
            <div class="course-Enroll border-line-meta">
              <p>Total enrolled</p>
              <span>{{course?.total_enrolled}}</span>
            </div>
            <div class="course-Enroll border-line-meta">
              <p>Last Update</p>
              <span>{{course?.last_update_date}}</span>
            </div>
            <div class="course-category">
              <p>Creation date</p>
              <span>{{course?.creation_date}}</span>
            </div>
            <div class="course-category" *ngIf="(role === 'Teacher' && course?.teachers[0] ===userId)">
              <button  class="wishlist-btn" (click)="editCall()"><i class="fas fa-edit"></i></button>
            </div>
          </div>
          <div class="course-description pt-45 pb-30">
            <div class="course-Description">
              <h4>Description</h4>
            </div>
            <p>{{course?.description}}</p>
          </div>
          <div class="course-learn-wrapper">
            <div class="course-learn">
              <div class="course-leranm-tittle">
                <h4 class="mb-15">What you'll learn</h4>
              </div>
              <div class="row info-cart-text ">
                <div class="col-xl-12">
                  <ul>
                    <li><i class="fas fa-check"></i>{{course?.what_you_will_learn}}</li>

                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="course-requirements pt-45">
            <h4>Requirements</h4>
            <div class="course-requirements-text">
              <ul>
                <li>• {{course?.requirements}}</li>

              </ul>
            </div>
          </div>
          <div class="course-curriculum pt-40 pb-50">
            <div class="row">
              <div class="col-10">
                <div class="course-curriculam">
                  <h4>Curriculum</h4>
                </div>
                <ul>
                  <li>{{course?.modules?.length}} modules • {{course?.workload}} h total length</li>
                </ul>
              </div>
              <div class=" col-2" *ngIf="(role === 'Teacher' && course?.teachers[0] ===userId)">
                <button  (click)="editCall()"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <app-coursecurriculam [courseId]="courseId" [course]="course" [user]="userId" [teacher_id]="teacher.user.id"></app-coursecurriculam>
          </div>
          <!--          <app-courseinstructor></app-courseinstructor>-->
          <!--          <app-studentfeedback></app-studentfeedback>-->
          <app-courseinstructor [teacher]="teacher"></app-courseinstructor>
<!--          <ng-container *ngIf="course.status !== 'pending'">-->
<!--            <app-coursereview [reviews]="reviews"></app-coursereview>-->
<!--          </ng-container>-->
<!--          <div class="col-xl-12"-->
<!--               *ngIf="!(role === 'Super_Admin' || role === 'Admin' || role === 'Teacher') && course.status !== 'pending'">-->
<!--            <div class="course-review-btn pb-5">-->
<!--              <a id="show-review-box" class="edu-btn " href="javascript:void(0)" (click)=writeReview()>Write a-->
<!--                Review</a>-->

<!--              <div id="review-box" class="review-comment mt-45" [class.d-block]="writeReviewActive">-->
<!--                <div class="comment-title mb-20">-->
<!--                  <p>Your email address will not be published. Required fields are marked *-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="comment-rating mb-20">-->
<!--                  <span>Overall ratings</span>-->
<!--                  <ul>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fal fa-star"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="comment-input-box mb-15">-->
<!--                  <form action="#">-->
<!--                    <div class="row">-->
<!--                      <div class="col-xxl-12">-->
<!--                                                <textarea placeholder="Your review"-->
<!--                                                          class="comment-input comment-textarea mb-20"></textarea>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-6">-->
<!--                        <div class="comment-input mb-20">-->
<!--                          <input type="text" placeholder="Your Name">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-6">-->
<!--                        <div class="comment-input mb-20">-->
<!--                          <input type="email" placeholder="Your Email">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-12 ">-->
<!--                        <div class="comment-submit">-->
<!--                          <button type="submit" class="edu-btn">Submit</button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
      <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <app-coursevideo [course]="course" [courseId]="courseId" [user]="userId" [teacher_id]="teacher.user.id"></app-coursevideo>
      </div>

    </div>
  </div>
</section>

<!--<div class="course-learn-wrapper" *ngIf="(role === 'Student') && !enrolled">-->
<!--  <div class="course-learn">-->
<!--    <div class="course-leranm-tittle">-->
<!--      <h4 class="mb-15">To be able to start this course please enroll now </h4>-->
<!--    </div>-->
<!--    <div class="row info-cart-text ">-->
<!--      <div class="col-xl-10">-->
<!--        <ul>-->
<!--          <li><i class="fas fa-check"></i>Once you enroll you will have this course registred in your profile-->
<!--            and you can track your progress-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-xl-2">-->
<!--        <a href="javascript:void(0)" (click)="enrollInCourse(course.id)">-->
<!--          <span *ngIf="!isLoading"><i class="fas  fa-user-plus"></i></span>-->
<!--          <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i> Launching...</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--<div class="course-learn-wrapper" *ngIf="(role === 'Teacher' && this.userId !== teacher.user.id)">-->
<!--  <div class="course-learn">-->
<!--    <div class="course-leranm-tittle">-->
<!--      <h4 class="mb-15">In order to initiate this course, it is necessary to obtain student access by requesting a hybrid profile. </h4>-->
<!--    </div>-->
<!--    <div class="row info-cart-text ">-->
<!--      <div class="col-xl-10">-->
<!--        <ul>-->
<!--          <li><i class="fas fa-check"></i>Upon submitting your request, the administration will review and approve it, and you will receive a notification shortly thereafter.-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-xl-2">-->
<!--        <a href="javascript:void(0)" (click)="enrollInCourse(course.id)">-->
<!--          <span *ngIf="!isLoading"><i class="fas  fa-user-graduate"></i></span>-->
<!--          <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i> Launching...</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--<div class="course-learn-wrapper"   *ngIf="(role === 'Student' && enrolled) || (role === 'Admin') ||(role === 'Super_Admin') || (role === 'Teacher' && this.userId === teacher.user.id)">-->
<!--  <div class="course-learn">-->
<!--    <div class="course-leranm-tittle">-->
<!--      <h4 class="mb-15">Start the course now</h4>-->
<!--    </div>-->
<!--    <div class="row info-cart-text ">-->
<!--      <div class="col-xl-10">-->
<!--        <ul>-->
<!--          <li *ngIf="( role === 'Admin') ||(role === 'Super_Admin')"><i class="fas fa-check"></i>wait for <b>3-4 minutes</b> until the instance opens up, and then you can test the content of the course.</li>-->
<!--          <li><i class="fas fa-check"></i>Once the jupiter instance open up, you are now ready to start the-->
<!--            lab course-->
<!--          </li>-->
<!--          <li><i class="fas fa-check"></i>Please note that you are entitled to a total of <b>{{course.nb_sessions}} sessions </b>, each-->
<!--            lasting <b>{{course.session_duration}} hours</b>-->
<!--          </li>-->
<!--          <li *ngIf="( role === 'Admin') ||(role === 'Super_Admin')"><i class="fas fa-check"></i>Note that approving the course will create a clone of the tested instance for each student to expedite VM launch.-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-xl-2">-->
<!--        <a href="javascript:void(0)" (click)="startSession(course.id)">-->
<!--          <span *ngIf="!isLoading"><i class="fas fa-play"></i></span>-->
<!--          <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i> Launching...</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
