<!-- course-details-area-start -->
<section class="content course-detalis-area ">
  <app-breadcrumb breadcrumbTitle="Course overview"
                  breadcrumbSubTitle1="courses" breadcrumbSubTitle2="{{course?.title}}"
                  breadcrumbImage='url(assets/img/course/tuto.png)'></app-breadcrumb>
  <div class="container">
    <div class="row">
      <div class=" col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="course-detalis-wrapper mb-30">
          <div class="course-heading mb-20">
            <h2>{{course?.title}}</h2>
<!--            <div class="course-star">-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fas fa-star"></i></li>-->
<!--              </ul>-->
<!--              <ul>-->
<!--                <li><i class="fal fa-star"></i></li>-->
<!--              </ul>-->
<!--              <span>({{course.reviews.length}} reviews)</span>-->
<!--            </div>-->
          </div>
          <div class="course-detelis-meta">
            <div class="course-meta-wrapper border-line-meta">
              <div class="course-meta-img">
                <img [src]="teacher.user.image ? teacher.user.image : 'assets/images/user/profile.jpg'" alt="">

              </div>
              <div class="course-meta-text">
                <span>Created by</span>
                <h6><a >{{teacher.user.firstName}} {{teacher.user.lastName}}</a>
                </h6>
              </div>
            </div>
            <div class="course-Enroll border-line-meta">
              <p>Total enrolled</p>
              <span>{{course?.total_enrolled}}</span>
            </div>
            <div class="course-Enroll border-line-meta">
              <p>Last Update</p>
              <span>{{course?.last_update_date}}</span>
            </div>
            <div class="course-category">
              <p>Creation date</p>
              <span>{{course?.creation_date}}</span>
            </div>
            <div class="course-category" *ngIf="(role === 'Teacher' && course?.teachers[0] ===userId)">
              <button  class="wishlist-btn" (click)="editCall()"><i class="fas fa-edit"></i></button>
            </div>
          </div>
          <div class="course-description pt-45 pb-30">
            <div class="course-Description">
              <h4>Description</h4>
            </div>
            <p>{{course?.description}}</p>
          </div>
          <div class="course-learn-wrapper">
            <div class="course-learn">
              <div class="course-leranm-tittle">
                <h4 class="mb-15">What you'll learn</h4>
              </div>
              <div class="row info-cart-text ">
                <div class="col-xl-12">
                  <ul>
                    <li><i class="fas fa-check"></i>{{course?.what_you_will_learn}}</li>

                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="course-requirements pt-45">
            <h4>Requirements</h4>
            <div class="course-requirements-text">
              <ul>
                <li>• {{course?.requirements}}</li>

              </ul>
            </div>
          </div>
          <div class="course-curriculum pt-40 pb-50">
            <div class="row">
              <div class="col-12">
                <div class="course-curriculam line-container">
                  <h4>Curriculum</h4>
                  <a class="fs-5 p-4" mat-button href="" target="_blank">Start <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg></a>
                </div>
                <ul>
                  <li>{{course?.modules?.length}} modules • {{course?.workload}} h total length</li>
                </ul>
              </div>
              <div class=" col-2" *ngIf="(role === 'Teacher' && course?.teachers[0] ===userId)">
                <button  (click)="addModule()"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <app-coursecurriculam [courseId]="courseId" [course]="course" [user]="userId" [teacher_id]="teacher.user.id"></app-coursecurriculam>
          </div>
          <!--          <app-courseinstructor></app-courseinstructor>-->
          <!--          <app-studentfeedback></app-studentfeedback>-->
          <app-courseinstructor [teacher]="teacher"></app-courseinstructor>
<!--          <ng-container *ngIf="course.status !== 'pending'">-->
<!--            <app-coursereview [reviews]="reviews"></app-coursereview>-->
<!--          </ng-container>-->
<!--          <div class="col-xl-12"-->
<!--               *ngIf="!(role === 'Super_Admin' || role === 'Admin' || role === 'Teacher') && course.status !== 'pending'">-->
<!--            <div class="course-review-btn pb-5">-->
<!--              <a id="show-review-box" class="edu-btn " href="javascript:void(0)" (click)=writeReview()>Write a-->
<!--                Review</a>-->

<!--              <div id="review-box" class="review-comment mt-45" [class.d-block]="writeReviewActive">-->
<!--                <div class="comment-title mb-20">-->
<!--                  <p>Your email address will not be published. Required fields are marked *-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="comment-rating mb-20">-->
<!--                  <span>Overall ratings</span>-->
<!--                  <ul>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fas fa-star"></i></a></li>-->
<!--                    <li><a href="#"><i class="fal fa-star"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="comment-input-box mb-15">-->
<!--                  <form action="#">-->
<!--                    <div class="row">-->
<!--                      <div class="col-xxl-12">-->
<!--                                                <textarea placeholder="Your review"-->
<!--                                                          class="comment-input comment-textarea mb-20"></textarea>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-6">-->
<!--                        <div class="comment-input mb-20">-->
<!--                          <input type="text" placeholder="Your Name">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-6">-->
<!--                        <div class="comment-input mb-20">-->
<!--                          <input type="email" placeholder="Your Email">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-xxl-12 ">-->
<!--                        <div class="comment-submit">-->
<!--                          <button type="submit" class="edu-btn">Submit</button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
      <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <app-coursevideo [course]="course" [courseId]="courseId" [user]="userId" [teacher_id]="teacher.user.id"></app-coursevideo>
      </div>

    </div>
  </div>
</section>
