<section class="content">
  <div class="content-block">
    <div class="block-header mt-5" >

    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-6 col-md-9 col-sm-12">
        <div class="card card-statistic-2 dash">
          <div class="clearfix justify-content-center align-items-center">
            <div class="card-icon-only shadow-primary float-start ">
              <img src="assets/images/banner/img4.png" alt="">
            </div>
            <div class="card-right" *ngFor="let department of departments;">
              <div>
                <h5 class="float-end">{{department.name}}</h5>
              </div>
              <div class="col-green py-5">
                <h3 class="font-weight-bold float-end mb-0">${{department.budget}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2 dash">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/student.png" alt="" class="studImg">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Students</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{students?.length}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2 ">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/banner/img2.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Courses</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{total_courses}}</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3 pr-2">
            <p *ngIf="percentage > 0" class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> {{ percentage }}% Higher Than Last Month</p>
            <p *ngIf="percentage < 0" class="m-b-0 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> {{percentage*-1 }}% Less Than Last Month</p>
            <p *ngIf="percentage === 0" class="m-b-0 px-2 d-flex">No Changes Compared to Last Month</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>Courses Enrolled In List</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                <tr>
                  <th>#</th>
                  <th>User Name</th>
                  <th>Role</th>
                  <th>Total Courses</th>
                  <th>Completed Courses</th>
                  <th>Certifications</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let student of studentsDisplay">
                  <td class="course-meta-img">
                    <img [src]="student.user.image ? student.user.image : 'assets/images/user/profile.jpg'"alt="">
                  </td>
                  <td>{{student.user.firstName}} {{student.user.lastName}}</td>
                  <td>
                    <div *ngIf="student.user.is_student && !student.user.is_teacher">
                              <span class="badge badge-solid-pink">
                                Student</span>
                    </div>
                    <div *ngIf="student.user.is_teacher">
                              <span class="badge badge-solid-cyan">
                                Teacher</span>
                    </div>
                    <div *ngIf="student.user.is_head_of_sub_dep">
                              <span class="badge badge-solid-red">
                                head_of_sub_department</span>
                    </div>
                    <div *ngIf="student.user.is_head_of_super_dep">
                              <span class="badge badge-solid-purple">
                                head_of_super_department</span>
                    </div>
                  </td>
                  <td>{{student.total_courses}}</td>
                  <td>{{student.completion_percentage}}% </td>
                  <td>{{student.certifications}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <ul class="d-inline-flex mb-3">
              <li class="p-2"><a (click)="next_previous_student('previous')" style="cursor:pointer;"><i class="fas fa-angle-left"></i></a></li>
              <li class="p-2" *ngFor="let i of [].constructor(totalPagesStudent); let page = index" [ngClass]="{ 'active': page + 1 === currentPageStudent }">
                <a (click)="onPageChangedStudent(page + 1)" style="cursor: pointer">
                  <span *ngIf="page + 1 < 10">0{{ page + 1 }}</span>
                  <span *ngIf="page + 1 >= 10">{{ page + 1 }}</span>
                </a>
              </li>
              <li class="p-2"><a (click)="next_previous_student('next')" style="cursor:pointer;"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Teachers List</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Teacher Name</th>
                  <th>Total Courses</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of teachers">
                  <td class="course-meta-img">
                    <img [src]="teacher.user.image ? teacher.user.image : 'assets/images/user/profile.jpg'" alt="">
                  </td>
                  <td>
                    <div class="media-title">{{teacher.user.firstName}} {{teacher.user.lastName}}</div>
                    <div class="text-job font-11" *ngIf="teacher.degree">({{teacher.degree}})</div>
                  </td>
                  <td>
                    <div class="badge badge-solid-green">{{teacher.nb_of_courses}}</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <ul class="d-inline-flex mb-3">
              <li class="p-2"><a (click)="next_previous('previous')" style="cursor:pointer;"><i class="fas fa-angle-left"></i></a></li>
              <li class="p-2" *ngFor="let i of[].constructor(totalPages); let page = index " [ngClass]="{ 'active': page === (currentPage-1 ) }">
                <a (click)="onPageChanged(page+1)" style="cursor: pointer">
                  <span *ngIf="(page+1)<10">0{{ page+1}}</span>
                  <span *ngIf="(page+1)>=10">{{ page+1 }}</span>
                </a>
              </li>
              <li class="p-2"><a (click)="next_previous('next')" style="cursor:pointer;"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>SubDepartments List</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>SubDepartment Name</th>
                  <th>Head of Subdepartment</th>
                  <th>Budget</th>
                  <th>N+1 Manager</th>
                  <th>Number of courses</th>
                  <th>Number of teachers</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sub of subDepartments$ | async">
                  <td>
                    <div class="badge badge-solid-green" *ngIf="sub.super_department_name === 'HPC'">{{sub.name}}</div>
                    <div class="badge badge-solid-blue" *ngIf="sub.super_department_name === 'devops'">{{sub.name}}</div>
                    <div class="badge badge-solid-pink" *ngIf="sub.super_department_name === 'Automative'">{{sub.name}}</div>
                    <div class="badge badge-solid-amber" *ngIf="sub.super_department_name === 'AI'">{{sub.name}}</div>

                  </td>
                  <td>
                    <div class="d-inline-flex">
                      <div class="course-meta-img">
                      <img [src]="sub.head_of_sub_department.image ? sub.head_of_sub_department.image : 'assets/images/user/profile.jpg'" alt="">
                    </div>
                      <div class="media-title my-auto  m-4">{{sub.head_of_sub_department.firstName}} {{sub.head_of_sub_department.lastName}}</div>
                    </div>
                    </td>
                  <td>
                    <div>{{sub.budget}}$</div>
                  </td>
                  <td>
                    <div>{{sub.super_department_head_of_super_department_firstName}} {{sub.super_department_head_of_super_department_lastName}}</div>
                  </td>
                  <td>
                    <div *ngIf="sub.coursesCount !== undefined">{{ sub.coursesCount }}</div>
                    <div *ngIf="sub.coursesCount === undefined">Loading...</div>
                  </td>
                  <td>
                    <div *ngIf="sub.teachersCount !== undefined">{{ sub.teachersCount }}</div>
                    <div *ngIf="sub.teachersCount === undefined">Loading...</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <ul class="d-inline-flex mb-3">
              <li class="p-2"><a (click)="next_previous('previous')" style="cursor:pointer;"><i class="fas fa-angle-left"></i></a></li>
              <li class="p-2" *ngFor="let i of[].constructor(totalPages); let page = index " [ngClass]="{ 'active': page === (currentPage-1 ) }">
                <a (click)="onPageChanged(page+1)" style="cursor: pointer">
                  <span *ngIf="(page+1)<10">0{{ page+1}}</span>
                  <span *ngIf="(page+1)>=10">{{ page+1 }}</span>
                </a>
              </li>
              <li class="p-2"><a (click)="next_previous('next')" style="cursor:pointer;"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let department of departments">
        <div class="card">
          <div class="header">
            <h2>{{ department?.name }}</h2>
          </div>
          <div class="card-body mb-3">
            <div class="float-start">
              <h6 class="text-muted"></h6>
            </div>
            <div class="mb-5">
              <apx-chart [series]="department?.chartOptions?.series" [chart]="department?.chartOptions?.chart"
                         [labels]="department?.chartOptions?.labels" [title]="department?.chartOptions?.title"
                         [theme]="department?.chartOptions?.theme" [fill]="department?.chartOptions?.fill"
                         [yaxis]="department?.chartOptions?.yaxis" [stroke]="department?.chartOptions?.stroke"
                         [legend]="department?.chartOptions?.legend" [plotOptions]="department?.chartOptions?.plotOptions"
                         [colors]="department?.chartOptions?.colors"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="content-block">
<!--parents reviews-->

<!--        <div class="row">-->
<!--          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">-->
<!--            <div class="card">-->
<!--              <div class="header">-->
<!--                <h2>Parents Review</h2>-->
<!--                <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">-->
<!--                  <mat-icon>more_vert</mat-icon>-->
<!--                </button>-->
<!--                <mat-menu #menu="matMenu">-->
<!--                  <button mat-menu-item>-->
<!--                    <mat-icon>add_circle_outline</mat-icon>-->
<!--                    <span>Add</span>-->
<!--                  </button>-->
<!--                  <button mat-menu-item disabled>-->
<!--                    <mat-icon>delete_outline</mat-icon>-->
<!--                    <span>Delete</span>-->
<!--                  </button>-->
<!--                  <button mat-menu-item>-->
<!--                    <mat-icon>refresh</mat-icon>-->
<!--                    <span>Refresh</span>-->
<!--                  </button>-->
<!--                </mat-menu>-->
<!--              </div>-->
<!--              <div class="body">-->
<!--                <div class="review-block">-->
<!--                  <div class="row">-->
<!--                    <div class="review-img">-->
<!--                      <img src="assets/images/user/user1.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                      <h6 class="m-b-5">Alis Smith-->
<!--                        <span class="float-end m-r-10 text-muted"> a week ago</span>-->
<!--                      </h6>-->
<!--                      <i class="material-icons">star</i>-->
<!--                      <i class="material-icons">star</i>-->
<!--                      <i class="material-icons">star</i>-->
<!--                      <i class="material-icons">star_half</i>-->
<!--                      <i class="material-icons">star_border</i>-->
<!--                      <p class="m-t-15 m-b-15">Lorem ipsum dolor sit amet, consectetur-->
<!--                        adipiscing elit. Etiam vel rutrum ex, at-->
<!--                        ornare mi. In quis scelerisque dui, eget rhoncus orci. Fusce et sodales-->
<!--                        ipsum.-->
<!--                        Nam id nunc euismod, aliquet arcu quis, mattis nisi.</p>-->
<!--                      <button mat-icon-button class="m-r-10 col-blue">-->
<!--                        <mat-icon>thumb_up</mat-icon>-->
<!--                      </button>-->
<!--                      <button mat-icon-button class="m-r-10 col-red">-->
<!--                        <mat-icon>thumb_down</mat-icon>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row mt-3">-->
<!--                    <div class="review-img">-->
<!--                      <img src="assets/images/user/user2.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                      <h6 class="m-b-5">John Dio-->
<!--                        <span class="float-end m-r-10 text-muted"> a week ago</span>-->
<!--                      </h6>-->
<!--                      <i class="material-icons">star</i>-->
<!--                      <i class="material-icons">star_half</i>-->
<!--                      <i class="material-icons">star_border</i>-->
<!--                      <i class="material-icons">star_border</i>-->
<!--                      <i class="material-icons">star_border</i>-->
<!--                      <p class="m-t-15 m-b-15">Nam quis ligula est. Nunc sed risus non-->
<!--                        turpis tristique tempor. Ut sollicitudin-->
<!--                        faucibus magna nec gravida. Suspendisse ullamcorper justo vel porta-->
<!--                        imperdiet.-->
<!--                        Nunc nec ipsum vel augue placerat faucibus. </p>-->
<!--                      <button mat-icon-button class="m-r-10 col-blue">-->
<!--                        <mat-icon>thumb_up</mat-icon>-->
<!--                      </button>-->
<!--                      <button mat-icon-button class="m-r-10 col-red">-->
<!--                        <mat-icon>thumb_down</mat-icon>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="text-center  m-b-5">-->
<!--                    <button mat-stroked-button color="primary">View all Customer Reviews</button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
<!--          </div>-->
<!--        </div>-->

      </div>


  </div>
</section>
