<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="labForm" (ngSubmit)="submit">

          <div class="row mt-20" >
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Lab title</mat-label>
                <input matInput formControlName="title" >
                <!--                                      <mat-error-->
                <!--                                        *ngIf="getLabsControls(i).controls[k].get('title').hasError('required')">Title-->
                <!--                                        is required-->
                <!--                                      </mat-error>-->

              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Lab description</mat-label>
                <input matInput formControlName="description" >
                <!--                                      <mat-error-->
                <!--                                        *ngIf="getLabsControls(i).controls[k].get('description').hasError('required')">-->
                <!--                                        lab description is required-->
                <!--                                      </mat-error>-->

              </mat-form-field>
            </div>
          </div>
          <app-bottom-sheet [file]="true"></app-bottom-sheet>
          <div class="row" >
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
              <label>Upload the zip labs files</label>
              <app-file-upload fileType="lab files " (change)="onLabFilesSelected($event)"
                               formControlName="labFiles"></app-file-upload>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
              <label>Upload libraries requirements txt file</label>
              <app-file-upload fileType="libraries"
                               (change)="onLibrariesRequirementsSelected($event)"
                               formControlName="libraries_requirements"></app-file-upload>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
              <label>Upload packages requirements txt file</label>
              <app-file-upload fileType="packages"
                               (change)="onPackagesRequirementsSelected($event)"
                               formControlName="packages_requirements"></app-file-upload>
            </div>
          </div>
          <div class="row" >
            <div class="col-12 mb-3 ml-20">
              <h4>Select the hosting platform:</h4>
              <mat-radio-group formControlName="hosting_platform" *ngIf="data.editLab">
                <mat-radio-button value="false" [checked]="!data.lab.is_hosted_on_aws">Hands-on lab on local machine</mat-radio-button>
                <mat-radio-button value="true" class="ml-30" [checked]="data.lab.is_hosted_on_aws">Hosted on AWS</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group formControlName="hosting_platform" *ngIf="!data.editLab">
                <mat-radio-button value="false" >Hands-on lab on local machine</mat-radio-button>
                <mat-radio-button value="true" class="ml-30" >Hosted on AWS</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row"
               *ngIf="labForm.get('hosting_platform').value === 'aws'">
            <app-bottom-sheet [file]="false"></app-bottom-sheet>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Instance type</mat-label>
                <input matInput formControlName="vm_characteristics" >
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Session duration (hours)</mat-label>
                <input matInput formControlName="session_duration" type="number" >
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Number of trials</mat-label>
                <input matInput formControlName="nb_sessions" >
              </mat-form-field>
            </div>
          </div>




        <div class="row text-center mt-3">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!labForm.valid"
                      [class.auth-spinner]="loadingAdd"
                      (click)="confirmAdd()" *ngIf="!data.editLab">Add lab course
              </button>
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!labForm.valid"
                      [class.auth-spinner]="loadingEdit"
                      (click)="confirmEdit()" *ngIf="data.editLab">Edit lab course
              </button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
