<section class="content mt-20">
  <app-breadcrumb breadcrumbImage='' breadcrumbSubTitle1="Home"
                  breadcrumbTitle="BRIGHTSKIES ACADEMY"></app-breadcrumb>
  <div class="content-block">
    <div class="row">
          <div
            class=" inset-0 flex flex-col min-w-0 overflow-y-auto"
            cdkScrollable>
            <!-- Main -->
            <div class="flex flex-auto p-2 sm:p-10">

              <div class="flex flex-col flex-auto w-full max-w-md sm:max-w-7xl mx-auto" >
                <!-- Courses -->
                <ng-container *ngIf="this.filteredCourses?.length; else noCourses">

                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-9 mt-8 sm:mt-10">
                    <ng-container *ngFor="let course of filteredCourses;">
                      <!-- Course -->
                      <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                        <div class="flex flex-col p-6">
                          <div class="flex items-center justify-between">
                            <ng-container *ngIf="(course.category | fuseFindByKey:'slug':categories) as category">
                              <div
                                class="py-0.5 px-3 rounded-full text-sm fw-normal "
                                [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category.slug === 'HPC-parallell',
                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category.slug === 'HPC-optimization',
                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category.slug === 'devops sub1',
                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category.slug === 'HPC_application'}">
                                {{category.title}}
                              </div>
                            </ng-container>

                            <div class="flex items-center">
                              <ng-container *ngIf="course.certified">
                                <mat-icon
                                  ><svg id="check-badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="text-green-600">
                                  <path fill-rule="evenodd"  d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"/>
                                </svg></mat-icon>
                              </ng-container>
                            </div>
                          </div>
                          <!-- Course title & description -->
                          <div class="mt-4 fs-2 fw-normal">{{course['title']}}</div>
<!--                          <div class="mt-0.5 line-clamp-2 text-secondary">{{course['title']}}</div>-->

                          <div class="w-12 h-1 my-3 mb-10 border-t-2"><hr></div>
                          <!-- Course time -->
                          <div class="flex items-center leading-5 text-md text-secondary">
                            <mat-icon
                              class="icon-size-5 text-hint"
                             ><svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd"/>
                            </svg></mat-icon>
                            <div class="ml-1.5">{{course['workload']}} Hours</div>
                          </div>
                          <!-- Course completion -->
                          <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <mat-icon
                              class="icon-size-5 text-hint"><svg id="academic-cap" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                              <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z"/>
                              <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z"/>
                              <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z"/>
                            </svg>
                            </mat-icon><div *ngIf="course['price'] > 0 " class="ml-1.5">{{course['price']}} $</div>
                            <div *ngIf="course['price'] === 0 " class="ml-1.5">Free</div>
<!--                            [svgIcon]="'heroicons_solid:academic-cap'-->
<!--                            <ng-container *ngIf="course.progress.completed === 0">-->
<!--
                       </ng-container>-->
<!--                            <ng-container *ngIf="course.progress.completed > 0">-->
<!--                              <div class="ml-1.5">-->
<!--                                <span>Completed</span>-->
<!--                                <span class="ml-1">-->
<!--                                                &lt;!&ndash; Once &ndash;&gt;-->
<!--                                                <ng-container *ngIf="course.progress.completed === 1">once</ng-container>-->
<!--                                  &lt;!&ndash; Twice &ndash;&gt;-->
<!--                                                <ng-container *ngIf="course.progress.completed === 2">twice</ng-container>-->
<!--                                  &lt;!&ndash; Others &ndash;&gt;-->
<!--                                                <ng-container *ngIf="course.progress.completed > 2">{{course.progress.completed}}-->
<!--                                                  {{course.progress.completed | i18nPlural: {-->
<!--                                                    '=0'   : 'time',-->
<!--                                                    '=1'   : 'time',-->
<!--                                                    'other': 'times'-->
<!--                                                  } }}-->
<!--                                                </ng-container>-->
<!--                                            </span>-->
<!--                              </div>-->
<!--                            </ng-container>-->
                          </div>
                        </div>
                        <!-- Footer -->
                        <div class="flex flex-col w-full mt-auto">
                          <!-- Course progress -->
                          <div class="relative h-0.5">
                            <div
                              class="z-10 absolute inset-x-0 h-6 -mt-3"
                              [matTooltip]="course['currentStep'] / course['totalSteps'] | percent"
                              [matTooltipPosition]="'above'"
                              [matTooltipClass]="'-mb-0.5'"></div>
                            <mat-progress-bar
                              class="h-0.5"
                              [value]="(100 * course['currentStep']) / course['totalSteps']"></mat-progress-bar>
                          </div>

                          <!-- Course launch button -->
                          <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <a (click)="viewDetails(course)"
                              mat-stroked-button
                             >
                                        <span class="inline-flex items-center">

                                            <!-- Not started -->
                                            <ng-container *ngIf="((100 * course['currentStep']) / course['totalSteps']) === 0">
                                              <span>Start</span>
                                            </ng-container>
                                          <ng-container *ngIf="((100 * course['currentStep']) / course['totalSteps']) > 0">
                                              <span>Continue</span>
                                            </ng-container>
                                            <ng-container *ngIf=" ((100 * course['currentStep']) / course['totalSteps']) === 100">
                                                      <span>Completed</span>
                                            </ng-container>
                                            <mat-icon
                                              class="ml-1.5 icon-size-5"><svg id="arrow-small-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
        </svg></mat-icon>
                                        </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>

                <!-- No courses -->
                <ng-template #noCourses>
                  <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon
                      class="icon-size-24"
                      ></mat-icon>
<!--                    [svgIcon]="'heroicons_outline:document-search'"-->
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No roadmaps found!</div>
                  </div>
                </ng-template>
              </div>

            </div>

          </div>

        </div>
      </div>

</section>
