<div class="course-instructors ">
  <h3>instructor</h3>
  <div class="instructors-heading">
    <div class="instructors-img w-img">
      <img [src]="teacher.user.image ? teacher.user.image : 'assets/images/user/profile.jpg'" class="teacher-img" alt="">

    </div>
    <div class="instructors-body">
      <h1><a [routerLink]="['/instructor-profile']">{{teacher.user.firstName}} {{teacher.user.lastName}}</a></h1>
      <!--            <span>Senior computational and Data Scientist Lead, King Abdullah University of Science and Technology</span>-->
      <div><span><strong>Department</strong> : {{teacher.sub_department}}</span></div>
      <div><span><strong>Degree</strong> : {{teacher.degree}}</span></div>

      <div class="instructors-footer mt-2">
        <i class="fas fa-desktop"></i>
        <span>{{teacher.nb_of_courses}} Courses</span>
      </div>
    </div>
  </div>
  <div class="intructors-content">
<!--            <p>Saber Feki leads the computational scientists team at the KAUST Supercomputing-->
<!--              Core Laboratory supporting and training users of the leadership supercomputer Shaheen.-->
<!--              He is an HPC technology expert. He was one a key members in the procurement and leader-->
<!--              of the acceptance of the world's 7th fastest supercomputer, Shaheen XC40-->
<!--            .  His research interests include parallel programming models and automatic performance-->
<!--              tuning of MPI communications and OpenACC accelerated applications</p>-->

    <p><strong>Biography : </strong>{{teacher.biography}}</p>
  </div>
</div>
