<div class="course-instructors">
    <h3>instructor</h3>
    <div class="instructors-heading">
        <div class="instructors-img w-img">
            <a [routerLink]="['/instructor-profile']"><img
                    src="assets/img/teacher/saber1.png"
                    alt="image not found"></a>
        </div>
        <div class="instructors-body">
            <h5><a [routerLink]="['/instructor-profile']">Saber Feki</a></h5>
            <span>Senior computational and Data Scientist Lead, King Abdullah University of Science and Technology</span>
            <div class="intructors-review">
                <i class="fas fa-star"></i>
                <span>4.9 (54 reviews)</span>
            </div>
            <div class="instructors-footer">
                <i class="fas fa-desktop"></i>
                <span>4 Coursess</span>
                <i class="far fa-user-friends"></i>
                <span>78,742 Students</span>
            </div>
        </div>
    </div>
    <div class="intructors-content">
        <p>Saber Feki leads the computational scientists team at the KAUST Supercomputing Core Laboratory supporting and training users of the leadership supercomputer Shaheen. He is an HPC technology expert. He was one a key members in the procurement and leader of the acceptance of the world's 7th fastest supercomputer, Shaheen XC40
        .  His research interests include parallel programming models and automatic performance tuning of MPI communications and OpenACC accelerated applications</p>
    </div>
</div>
