<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
        <ul class="clearfix">
            <li>
                <p><span class="font-weight-bold"> Department Name: </span>{{data.name}}</p>
            </li>
            <li>
                <p><span class="font-weight-bold"> Head of department: </span>{{ data.head_of_department }}</p>
            </li>
            <li>
                <p>
                    <span class="font-weight-bold">Email: </span>{{data.email}}
                </p>
            </li>
        </ul>
    </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div class="example-button-row align-center">
        <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
          Delete
        </button>
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </div>
  </div>
</div>
