<section class="content">
  <div class="content-block">
    <div class="block-header mt-5">
    </div>
    <!-- Widgets -->
    <div class="row  align-items-center" >
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12" >
        <div class="card g-5"  *ngIf="progress >0">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4 mb-0">
                <div class="eduman-course-thumb w-img">
                  <img src="{{course?.image}}" alt="Course">
                </div>
              </div>
              <div class="col-md-8">
                <h4>
                  <div class="weight-600 pt-1" style="color:#243c84">Good Job, {{name}}. Keep Going!! </div>
                </h4>
                <p class="font-15 max-width-600">You task are {{progress}}% completed this week. Keep it up and improve your
                  result. Progress is very good!!!</p>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="course-deteals-btn">
                      <a (click)="viewDetails(course)" style="cursor: pointer"><span class="me-2">Resume Course</span>
                        <i class="fas fa-arrow-right"></i></a>
                    </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card g-5" *ngIf="progress == 0">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-12">
                <h4>
                  <div class="weight-600 pt-1" style="color:#243c84">Welcome, {{name}}! Let's Get Started!</div>
                </h4>
                <p class="font-15 max-width-600 mt-4">
                  It looks like you haven't started any courses yet. Begin your learning journey by choosing a course
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Your Progress</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover" *ngIf="this.academyCourseProgress.length>0">
                <thead>
                <tr>
                  <th>Course</th>
                  <th>Progress</th>
                  <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of this.academyCourseProgress"  (click)="viewDetails1(course)" style="cursor: pointer">
                  <td>
                    <div class="media-title"><span> {{course.title}}
                    </span></div>
                  </td>
                  <td>{{course.progress}}%<mat-progress-bar [mode]="getProgressBarMode(course.progress)" value="{{course.progress}}"   [color]=getProgressBarColor(course.progress)></mat-progress-bar>
                    <div *ngIf="course.progress === 0" class="message">You haven't started yet.</div>
                  </td>

                  <td>{{course.workload}} Hours</td>
                </tr>
                </tbody>
              </table>
              <div *ngIf="this.academyCourseProgress.length === 0" class="message p-2 mb-2">You haven't started yet.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 " >
        <div class="card">
          <div class="header" >
            <h2>Time Spent On Learning</h2>
          </div>
          <div style="height: 260px" *ngIf="chartDataSubscription && chartDataSubscription.closed && this.single.length > 0">
            <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                                       [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendPosition]="legendPosition"
                                       [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="vbarxAxisLabel"
                                       [yAxisLabel]="vbaryAxisLabel">
            </ngx-charts-bar-horizontal>
          </div>
          <p class="font-15 max-width-600 mt-4 ml-4"  *ngIf="this.single.length === 0">
            You didn t start any course yet. Begin your learning journey by choosing a course
          </p>
        </div>
      </div>
     <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              Recommanded Classes
            </h2>
          </div>
          <div class="card-body">
            <ng-scrollbar style="height: 335px" visibility="hover">
              <ul class="list-unstyled  user-progress list-unstyled-border list-unstyled-noborder" *ngIf="this.RecommandedCourses.length>0">

                <li class="lecture-list  "  *ngFor="let course of this.RecommandedCourses" (click)="viewDetails1(course)" style="cursor: pointer">

                  <div class="col-9 set-flex">
                    <div class="media-title font-16">{{course.title}}</div>
                  </div>
                  <div class="col-3 set-flex  ms-auto">
                    <div class="media-title font-16">{{course.creation_date}}</div>
                  </div>

                </li>
              </ul>
              <p class="font-15 max-width-600 mt-4"  *ngIf="this.RecommandedCourses.length === 0">
                There is no recommanded courses yet. Begin your learning journey by choosing a course
              </p>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
