.fa-play {
  margin-top: -10px;
  font-size: 25px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}


.fa-play::after {
  content: 'start';
  font-size: 13px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.fa-play:hover {
  color: #020202;
}
.lab_note{
  font-size: 10px;
  color: #0b3a88;
}


.fa-download {
  margin-top: -10px;
  font-size: 20px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}


.fa-download::after {
  content: 'download';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.fa-download:hover {
  color: #020202;
}
