.fa-play {
  margin-top: -10px;
  font-size: 20px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}

.fa-play::after {
  content: 'start';
  font-size: 13px;
  display: block;
  text-align: center;
  margin-top: 7px;

}
.quizz {
  margin-top: 3px;
  font-size: 15px;
  color: #484747;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}

.quizz::after {
  content: 'start';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 4px;

}
.teacherplay::after {
  content: '';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.fa-play:hover {
  color: #020202;
  cursor: pointer;

}

.fa-check{
  margin-top: -10px;
  font-size: 25px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}


.fa-check::after {
  content: 'approve';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.fa-check:hover {
  color: #26a44a;
  cursor: pointer;

}

.lab{
  margin-top: -10px;
  font-size: 20px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}


.lab::after {
  content: '';
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.lab:hover {
  color: #26a44a;
  cursor: pointer;

}

.deletelab{
  margin-top: -10px;
  font-size: 20px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}


.deletelab::after {
  content: '';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 7px;

}


.deletelab:hover {
  color: #ab0e2a;
  cursor: pointer;

}

.lab_note{
  font-size: 10px;
  color: #0b3a88;
}


.fa-download {
  margin-top: -10px;
  font-size: 20px;
  color: #230de5;

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}



.fa-download::after {
  content: '';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 7px;

}
 .build::after{
  content: 'build';
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 10px;

}


.fa-download:hover {
  color: #020202;
  cursor: pointer;

}
