<section class="content">
  <app-breadcrumb breadcrumbTitle="{{ editMode ? 'Edit Course ' : 'Add Course ' }}"
                  breadcrumbSubTitle1="courses"
                  breadcrumbSubTitle2="{{ editMode ? 'Edit Course ' : 'Add Course ' }}"
                  breadcrumbImage='url(assets/img/course/addCourse1.jpg'>
  </app-breadcrumb>
  <div class="content-block" *ngIf="role==='Student'">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>As a student you are not allowed to add a course</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <p>You can request a hybrid profile access from the sub-department that you want to belong to, to upgrade and gain teacher privileges. Your request will be reviewed by the sub-department manager, and you will be notified once it is approved.</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
                <div class="video-wishlist" *ngIf="!sentSuccessfully">
                  <button *ngIf="!isLoading" class="video-cart-btn" (click)="openDialog()"><i class="fas fa-hand-paper"></i>Request Access</button>
                  <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin "></i> <p style="font-size: 12px"></p></span>
                </div>
                <div class="video-wishlist" *ngIf="sentSuccessfully">
                  <button class="video-cart-btn success" disabled><i class="fas fa-check"></i>Request sent</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="content-block" *ngIf="role==='Teacher'|| role==='Student_Teacher' || role==='head_sub_department'">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Add Course</strong>
            </h2>
          </div>
          <div class="body">
            <form [formGroup]="courseForm!" >

            <mat-vertical-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="courseForm!">
                  <ng-template matStepLabel>Add Course Overview</ng-template>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course name</mat-label>
                        <input matInput formControlName="title" required>
                        <mat-error *ngIf="courseForm.get('title').hasError('required')">
                          Course name is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course specialty</mat-label>
                        <input matInput formControlName="specialty" required>
                        <mat-error *ngIf="courseForm.get('specialty').hasError('required')">
                          Course specialty is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course workload hours</mat-label>
                        <input matInput formControlName="workload" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>course level</mat-label>
                        <mat-select formControlName="level" required>
                          <mat-option [value]="'entry'">
                            Entry
                          </mat-option>
                          <mat-option [value]="'intermediate'">
                            Intermediate
                          </mat-option>
                          <mat-option [value]="'advanced'">
                            Advanced
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="courseForm.get('level').hasError('required')">
                          Select any level
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course ID</mat-label>
                        <input matInput formControlName="course_id">

                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Total number of lessons</mat-label>
                        <input matInput formControlName="nbr_of_lessons" type="number" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>What you will learn</mat-label>
                        <textarea matInput formControlName="what_you_will_learn" required></textarea>
                        <mat-error *ngIf="courseForm.get('what_you_will_learn').hasError('required')">
                          what you will learn is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course Requirements</mat-label>
                        <textarea matInput formControlName="requirements" required></textarea>
                        <mat-error *ngIf="courseForm.get('requirements').hasError('required')">
                          Requirements is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Course Details</mat-label>
                        <textarea matInput formControlName="description" required></textarea>
                        <mat-error *ngIf="courseForm.get('description').hasError('required')">
                          Description is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button matStepperNext color="primary"
                    >Next
                    </button>
                  </div>
              </mat-step>
                <mat-step [stepControl]="courseForm!">
                  <ng-template matStepLabel>Add Course Curriculum</ng-template>
                  <div>
                    <mat-vertical-stepper #stepper formArrayName="modules">
                      <ng-container *ngFor="let module of modules.controls; let i = index">
                        <mat-step [stepControl]="module" [formGroupName]="i">
                          <ng-template matStepLabel>Add Course module {{ i + 1 }}</ng-template>
                          <mat-form-field>
                            <input matInput placeholder="Module Name" formControlName="name">
                          </mat-form-field>
                          <mat-vertical-stepper #stepper>
                            <mat-step [stepControl]="courseForm" formArrayName="videos">
                              <ng-template matStepLabel>Add tutorials</ng-template>
                              <div class="card-body">
                                <div class="task-module">
                                  <div class="task-header">
                                    <div class="task-title">
                                      <h2>Tutorials</h2>
                                      <h5>{{getVideosControls(i).length - 1}} Total tutorial</h5>
                                    </div>
                                    <div class="header-button">
                                      <a href="javascript:void(0)" (click)="addNewTask(sidenav, i)"><i class="fas  fa-file-video"></i></a>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                      <mat-sidenav-container class="task-container">
                                        <mat-sidenav #sidenav [mode]="mode.value" position="end"
                                                     [formGroupName]="0">
                                          <div class="header">
                                            <h2 class="header-title">add video</h2>
                                            <div class="header-close m-l-0">
                                              <button mat-icon-button *ngIf="!isNewEvent"
                                                      (click)="deleteVideo(i,selectedVideoIndex)"
                                                      matTooltip="Delete Task">
                                                <mat-icon>delete</mat-icon>
                                              </button>
                                              <button mat-icon-button *ngIf="isNewEvent"
                                                      (click)="add_video(i,selectedVideoIndex)"
                                                      matTooltip="Save Task">
                                                <mat-icon>save</mat-icon>
                                              </button>
                                              <button mat-icon-button *ngIf="!isNewEvent"
                                                      matTooltip="edit Task">
                                                <mat-icon>edit</mat-icon>
                                              </button>
                                              <button mat-icon-button (click)="closeSlider(sidenav)">
                                                <mat-icon>close</mat-icon>
                                              </button>
                                            </div>
                                          </div>

                                          <div class="row  m-4">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                              <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="name">
                                                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>
                                                  turned_in_not
                                                </mat-icon>
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                              <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Duration</mat-label>
                                                <input matInput formControlName="duration">
                                                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>
                                                  access_time

                                                </mat-icon>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                          <div class="row m-2">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                              <label>Upload video </label>
                                              <app-file-upload fileType="upload video "
                                                               formControlName="video_file"></app-file-upload>
                                            </div>
                                          </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                          <ng-scrollbar style="height: 330px" visibility="hover">
                                            <div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)">
                                              <div class="row mt-3" *ngFor="let video of videos[i]" cdkDrag>
                                                <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
                                                  <div class="task-handle m-r-20" cdkDragHandle>
                                                    <mat-icon aria-hidden="false">drag_indicator</mat-icon>
                                                  </div>
                                                </div>
                                                <div
                                                  class="task-custom-placeholder col-xl-4 col-lg-4 col-md-12 col-sm-12 "
                                                  *cdkDragPlaceholder></div>
                                                <div matTooltip="Title" class="task-name">
                                                  {{video.name}}</div>
                                                <div class="task-video-file col-xl-5 col-lg-5 col-md-12 col-sm-12 "
                                                     matTooltip="Due Date">{{video.video_file.name}}</div>
                                                <div class="task-duration col-xl-2 col-lg-2 col-md-12 col-sm-12 "
                                                     matTooltip="Due Date">{{video.duration}} min
                                                  <mat-icon class="duration-icon " aria-hidden="false">access_time
                                                  </mat-icon>
                                                </div>

                                              </div>
                                            </div>
                                          </ng-scrollbar>
                                        </mat-sidenav-content>
                                      </mat-sidenav-container>
                                      <button mat-raised-button matStepperNext color="primary">Next</button>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-step>
                            <mat-step [stepControl]="courseForm" formArrayName="labs">
                              <ng-template matStepLabel>Add Labs</ng-template>
                              <div *ngFor="let lab of getLabsControls(i).controls; let k=index">
                                <div class="row mt-20" formGroupName="{{k}}">
                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="fill">
                                      <mat-label>Lab title</mat-label>
                                      <input matInput formControlName="title" >
<!--                                      <mat-error-->
<!--                                        *ngIf="getLabsControls(i).controls[k].get('title').hasError('required')">Title-->
<!--                                        is required-->
<!--                                      </mat-error>-->

                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="fill">
                                      <mat-label>Lab description</mat-label>
                                      <input matInput formControlName="description" >
<!--                                      <mat-error-->
<!--                                        *ngIf="getLabsControls(i).controls[k].get('description').hasError('required')">-->
<!--                                        lab description is required-->
<!--                                      </mat-error>-->

                                    </mat-form-field>
                                  </div>
                                </div>
                                <app-bottom-sheet [file]="true"></app-bottom-sheet>
                                <div class="row" formGroupName="{{k}}">
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
                                    <label>Upload the zip labs files</label>
                                    <app-file-upload fileType="lab files " (change)="onLabFilesSelected($event)"
                                                     formControlName="labFiles"></app-file-upload>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
                                    <label>Upload libraries requirements txt file</label>
                                    <app-file-upload fileType="libraries"
                                                     (change)="onLibrariesRequirementsSelected($event)"
                                                     formControlName="libraries_requirements"></app-file-upload>
                                  </div>

                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5">
                                    <label>Upload packages requirements txt file</label>
                                    <app-file-upload fileType="packages"
                                                     (change)="onPackagesRequirementsSelected($event)"
                                                     formControlName="packages_requirements"></app-file-upload>
                                  </div>
                                </div>
                                <div class="row" formGroupName="{{k}}">
                                  <div class="col-12 mb-3 ml-20">
                                    <h4>Select the hosting platform:</h4>
                                    <mat-radio-group formControlName="hosting_platform">
                                      <mat-radio-button value="local">Hands-on lab on local machine</mat-radio-button>
                                      <mat-radio-button value="aws" class="ml-30">Hosted on AWS</mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                </div>
                                <div class="row" formGroupName="{{k}}"
                                     *ngIf="getLabsControls(i).controls[k].get('hosting_platform').value === 'aws'">
                                  <app-bottom-sheet [file]="false"></app-bottom-sheet>

                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="fill">
                                      <mat-label>Instance type</mat-label>
                                      <input matInput formControlName="vm_characteristics" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="fill">
                                      <mat-label>Session duration (hours)</mat-label>
                                      <input matInput formControlName="session_duration" type="number" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="fill">
                                      <mat-label>Number of trials</mat-label>
                                      <input matInput formControlName="nb_sessions" >
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="mt-5" *ngIf="getLabsControls(i).length === k + 1">
                                  <div class="button-container">
                                    <a href="javascript:void(0)" (click)="addLab(i)"><i
                                      class="fas fa-plus add-lab-icon"></i></a>
                                    <a href="javascript:void(0)" (click)="removeLab(i,k)"><i
                                      class="fas fa-trash-alt delete-lab-icon"></i></a>

                                  </div>


                                </div>

                              </div>
                            </mat-step>
                          </mat-vertical-stepper>
                          <div class="button-container mt-5">
                            <a href="javascript:void(0)" (click)="addModule()"><i
                              class="fas fa-plus add-module-icon"></i></a>
                            <a href="javascript:void(0)" (click)="removeModule(i)"><i
                              class="fas fa-trash-alt delete-module-icon"></i></a>
                          </div>
                        </mat-step>
                      </ng-container>
                    </mat-vertical-stepper>
                    <div>
                      <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                      <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                  </div>

                </mat-step>
              <mat-step [stepControl]="courseForm!">
                  <ng-template matStepLabel>Add Course Resources</ng-template>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                      <label>Upload photo for the course</label>
                      <app-file-upload fileType="upload image" (change)="onImageSelected($event)"
                                       formControlName="image"></app-file-upload>
                      <!--                  <mat-error *ngIf="courseForm.get('image').hasError('required')">-->
                      <!--                    image is required-->
                      <!--                  </mat-error>-->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                      <label>Upload the course slides </label>
                      <app-file-upload fileType="upload slides" (change)="onSlidesSelected($event)"
                                       formControlName="slides"></app-file-upload>
                      <!--                  <mat-error *ngIf="courseForm.get('labFiles').hasError('required')">-->
                      <!--                   Lab files is required-->
                      <!--                  </mat-error>-->
                    </div>
                  </div>

                  <div>
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                    <button mat-raised-button matStepperNext color="primary"
                    >Next
                    </button>
                  </div>
              </mat-step>
              <mat-step [stepControl]="courseForm!">
                  <ng-template matStepLabel>Course Pricing</ng-template>
                  <div class="row pb-3">
                    <mat-radio-group formControlName="plan">
                      <mat-radio-button value="free">Free</mat-radio-button>
                      <mat-radio-button value="premium">Premium</mat-radio-button>
                    </mat-radio-group>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 mt-3"
                         *ngIf="courseForm.get('plan').value === 'premium'">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Price</mat-label>
                        <input matInput formControlName="price" type="number" placeholder="Price">
                        <mat-icon matSuffix>euro_symbol</mat-icon>

                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 mt-2"
                         *ngIf="courseForm.get('plan').value === 'premium'">
                      <h5> is it certified ?</h5>
                      <mat-radio-group formControlName="certified">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                      </mat-radio-group>

                    </div>


                  </div>
                  <div>
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                    <button mat-raised-button matStepperNext color="primary"
                    >Next
                    </button>
                  </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                  <button mat-raised-button color="primary" class="msr-2" (click)="stepper.reset()">Reset</button>
                  <button mat-flat-button style="color: #0b3a88" type="submit" [class.auth-spinner]="loading" (click)="onSubmit()" >Submit</button>
                </div>
              </mat-step>
            </mat-vertical-stepper>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
