<section class="content">
    <app-breadcrumb breadcrumbTitle="Add Lab course" breadcrumbSubTitle1="courses" breadcrumbSubTitle2="add new course"
    breadcrumbImage='url(assets/img/course/addCourse1.jpg'>
    </app-breadcrumb>
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Course</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course name</mat-label>
                    <input matInput formControlName="title" required>
                    <mat-error *ngIf="courseForm.get('title').hasError('required')">
                      Course name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course specialty</mat-label>
                    <input matInput formControlName="specialty" required>
                    <mat-error *ngIf="courseForm.get('specialty').hasError('required')">
                      Course specialty is required
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">


                </div>

              </div>
              <div class="row">
<!--                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">-->
<!--                  <mat-form-field class="example-full-width mb-3" appearance="outline">-->
<!--                    <mat-label>Course Price</mat-label>-->
<!--                    <input matInput formControlName="cPrice" type="number" required>-->
<!--                  </mat-form-field>-->
<!--                </div>-->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course workload hours</mat-label>
                    <input matInput formControlName="workload" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>course level</mat-label>
                    <mat-select formControlName="level" required>
                      <mat-option [value]="'entry'">
                        Entry
                      </mat-option>
                      <mat-option [value]="'intermediate'">
                        Intermediate
                      </mat-option>
                      <mat-option [value]="'advanced'">
                        Advanced
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="courseForm.get('level').hasError('required')">
                      Select any level
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>VM characteristics</mat-label>
                    <mat-select formControlName="vm_characteristics" required>
                      <mat-option [value]="'4 cores'">
                        4 cores
                      </mat-option>
                      <mat-option [value]=" '8 cores'">
                        8 cores
                      </mat-option>
<!--                      <mat-option [value]="3">-->
<!--                        Advanced-->
<!--                      </mat-option>-->
                    </mat-select>
                    <mat-error *ngIf="courseForm.get('vm_characteristics').hasError('required')">
                      Select any level
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Total number of lessons</mat-label>
                    <input matInput formControlName="nbr_of_lessons" type="number" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course Details</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course Requirements</mat-label>
                    <textarea matInput formControlName="requirements" required></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                  <label>Upload photo for the course</label>
                  <app-file-upload fileType="upload image" (change)="onImageSelected($event)" formControlName="image"></app-file-upload>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                  <label>Upload file containing all students emails to invite them</label>
                  <app-file-upload fileType="upload txt file" (change)="onStudentEmailsFileSelected($event)" formControlName="student_emails_file"></app-file-upload>
                </div>
              </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                    <label>Upload the labs files</label>
                    <app-file-upload fileType="upload lab files " (change)="onLabFilesSelected($event)" formControlName="labFiles"></app-file-upload>
                  </div>
                </div>
              <div class="row pb-3">
                  <mat-radio-group formControlName="plan">
                    <mat-radio-button value="free">Free</mat-radio-button>
                    <mat-radio-button value="premium">Premium</mat-radio-button>
                  </mat-radio-group>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 mt-3" *ngIf="courseForm.get('plan').value === 'premium'">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Price</mat-label>
                      <input matInput formControlName="price" type="number" placeholder="Price">
                      <mat-icon matSuffix>euro_symbol</mat-icon>

                    </mat-form-field>
                  </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 mt-2" *ngIf="courseForm.get('plan').value === 'premium'">
                  <h5> is it certified ?</h5>
                  <mat-radio-group formControlName="certified">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>

                </div>


              </div>
              <div class="row align-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!courseForm.valid " mat-raised-button
                    color="primary" type="submit" [class.auth-spinner]="loading" [disabled]="loading">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
