.fa-plus
  margin-top: -10px
  font-size: 30px
  color: #230de5

  text-shadow: 4px 4px 10px rgba(0,0,0,0.5)
  animation: pulse 2s infinite


.fa-plus::after
  font-size: 12px
  display: block
  text-align: center
  margin-top: 7px


.fa-plus:hover
  color: #2a7a41

.fa-trash-alt
  margin-top: -10px
  margin-left: 20px
  font-size: 30px
  color: #230de5

  text-shadow: 4px 4px 10px rgba(0,0,0,0.5)
  animation: pulse 2s infinite


.fa-trash-alt::after
  font-size: 12px
  display: block
  text-align: center
  margin-top: 7px


.fa-trash-alt:hover
  color: #881a44
