<section class="content">
  <div class="content-block mt-100">

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Department</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name of department</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-icon matSuffix>business</mat-icon>
                    <mat-error *ngIf="departmentForm.get('name').hasError('required')">
                      department name required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Head Of Department</mat-label>
                    <input matInput formControlName="head_of_department" required>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="departmentForm.get('head_of_department').hasError('required')">
                      HOD name required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                      *ngIf="departmentForm.get('email').hasError('required') || departmentForm.get('email').touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Department Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="department_start_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="departmentForm.get('department_start_date').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
<!--              -->
<!--              <div class="row">-->
<!--                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">-->
<!--                  <mat-form-field class="example-full-width mb-3" appearance="outline">-->
<!--                    <mat-label>Details</mat-label>-->
<!--                    <textarea matInput formControlName="details"></textarea>-->
<!--                  </mat-form-field>-->
<!--                </div>-->
<!--              </div>-->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!departmentForm.valid " [class.auth-spinner]="loading" [disabled]="loading" mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
