<section class="content">
  <div class="content-block">
    <div class="block-header mt-5">
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="pt-5">
            <div class="contact-grid pt-5">
              <img src="assets/images/user/student1.png" class="user-img" alt="">
              <!--              <div>-->
              <!--                <span class="">-->
              <!--                  <i class="material-icons mr-10">email</i>student@gmail.com</span>-->
              <!--              </div>-->
              <!--              <div>-->
              <!--                <span class="phone">-->
              <!--                  <i class="material-icons">phone</i>264-625-2583</span>-->
              <!--              </div>-->
              <div class="profile-header">
                <div class="user-name">Sarra smith</div>
                <div class="name-center">3rd year student engineer</div>
              </div>

            </div>
          </div>
        </div>
        <div class="card">

          <div class="header">
            <h2>Certifications
              <mat-icon class="example-icon">school</mat-icon>
            </h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                <tr>
                  <th></th>
                  <th>Course Name</th>
                  <th>print</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="table-img">
                    <img src="assets/img/course/ProfileHPC.png" alt="">
                  </td>
                  <td>
                    <div class="media-title"><span> High performance computing fundamentals
                    </span></div>
                  </td>
                  <td>
                    <a href="#">
  <span class="msr-3 align-self-center certif-icon danger-rgba text-danger">
    <i class="far fa-file-pdf"></i>
  </span>
                    </a></td>
                </tr>
                <!--                <tr>-->
                <!--                  <td class="table-img">-->
                <!--                    <img src="assets/img/course/ProfileOpenMP.png" alt="">-->
                <!--                  </td>-->
                <!--                  <td>-->
                <!--                    <div class="media-title"><span> High performance computing OpenMP-->
                <!--                    </span></div>-->
                <!--                  </td>-->
                <!--                  <td>-->
                <!--                    <div class="badge badge-solid-red">in progress</div>-->
                <!--                  </td>-->
                <!--                </tr>-->
                <!--                <tr>-->
                <!--                  <td class="table-img">-->
                <!--                    <img src="assets/img/course/ProfileOpenACC.png" alt="">-->
                <!--                  </td>-->
                <!--                  <td>-->
                <!--                    <div class="media-title"><span> High performance computing OpenAcc-->
                <!--                    </span></div>-->
                <!--                  </td>-->
                <!--                  <td>-->
                <!--                    <div class="badge badge-solid-red">in progress</div>-->
                <!--                  </td>-->
                <!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12 p-5">
                <div class="course-detelies-wrapper">
                  <div class="course-detiles-tittle mb-30">
                    <h3>Sarra Smith</h3>
                    <span>3rd year student engineer</span>
                  </div>
                  <div class="course-detiles-meta">

                    <div class="">
                      <h5>Department</h5>
                      <span>HPC</span>
                    </div>
                    <div class="">
                      <h5>Email</h5>
                      <span>imen.chaari@enis.tn</span>
                    </div>
                    <div class="">
                      <h5>Phone</h5>
                      <span> 50 586 370</span>
                    </div>
                    <div class="">
                      <h5>Lectures</h5>
                      <span>3</span>
                    </div>
                  </div>

                  <div class="header mt-4">
                    <h2>Enrolled in courses List</h2>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item disabled>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Delete</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>refresh</mat-icon>
                        <span>Refresh</span>
                      </button>
                    </mat-menu>
                  </div>
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Course Name</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="table-img">
                            <img src="assets/img/course/ProfileHPC.png" alt="">
                          </td>
                          <td>
                            <div class="media-title"><span> High performance computing fundamentals
                    </span></div>
                          </td>
                          <td>
                            <div class="badge badge-solid-green">complete</div>
                          </td>
                        </tr>
                        <tr>
                          <td class="table-img">
                            <img src="assets/img/course/ProfileOpenMP.png" alt="">
                          </td>
                          <td>
                            <div class="media-title"><span> High performance computing OpenMP
                    </span></div>
                          </td>
                          <td>
                            <div class="badge badge-solid-red">in progress</div>
                          </td>
                        </tr>
                        <tr>
                          <td class="table-img">
                            <img src="assets/img/course/ProfileOpenACC.png" alt="">
                          </td>
                          <td>
                            <div class="media-title"><span> High performance computing OpenAcc
                    </span></div>
                          </td>
                          <td>
                            <div class="badge badge-solid-red">in progress</div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="Profile Picture">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">camera</mat-icon>
                upload pictures
              </ng-template>
              <div class="mb-16 mt-16 p-5">
                <p>Upload a profile picture</p>
                <input type="file" ng2FileSelect [uploader]="uploader"/>
              </div>
              <div class="p-3">
                <table style="width: 100%">
                  <thead>
                  <tr>
                    <th width="30%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="uploader.queue.length; else tableNoData">
                  <tr *ngFor="let item of uploader.queue">
                    <td>{{ item?.file?.name }}</td>
                    <td nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
                    <td>
                      <mat-progress-bar
                        class=""
                        color="primary"
                        mode="determinate"
                        [value]="item.progress">
                      </mat-progress-bar>
                    </td>
                    <td class="">
                      <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                      <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                      <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
                    </td>
                    <td nowrap>
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="item.upload()"
                        [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
                      </button>
                      <button
                        mat-raised-button
                        color="accent"
                        (click)="item.cancel()"
                        [disabled]="!item.isUploading">Cancel
                      </button>

                      <button
                        mat-raised-button
                        color="warn"
                        (click)="item.remove()">Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                  <ng-template #tableNoData>
                    <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
                  </ng-template>
                </table>
              </div>

            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Account</strong> Settings</h2>
              </div>
              <div class="body">
              <div class="row ">
                <div class="col-lg-6 col-md-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>First Name</mat-label>
                      <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Last Name</mat-label>
                      <input matInput>
                    </mat-form-field>
                </div>
              </div>
              <div class="row ">

                <div class="col-lg-6 col-md-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Prefix</mat-label>
                    <span matPrefix>
                    <mat-icon class="msr-2">phone</mat-icon>
                  </span>
                    <input matInput placeholder="EX: (435) 34 534 534" prefix="+91 " mask="(000) 00 000 000"/>
                  </mat-form-field>
                </div>
              </div>
                <div class="row ">
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Department</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Speciality</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              <div class="col-md-12">
                <button mat-raised-button color="primary">Save Changes</button>
              </div>


        </div>
        </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  </div>
</section>
