<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/securite-informatique-cadenas-login-mot-passe.jpg)">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <h2 class="welcome-msg"> Reset Password </h2>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Enter your password here.
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirm_password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('confirm_password').hasError('required')">
                    Confirm Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
<!--            <a class="txt1" routerLink="/authentication/signin">Login</a>-->

            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!authForm.valid "
                type="submit">
                Reset My Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
