<!-- hero-area-start -->
<div class="hero-arera course-item-height" [style.background-image]="breadcrumbImage">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="hero-course-1-text">
          <h2>{{breadcrumbTitle}}</h2>
        </div>
        <div class="course-title-breadcrumb">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">{{breadcrumbSubTitle1}}</a></li>
              <li class="breadcrumb-item"><span>{{breadcrumbSubTitle2}}</span></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero-area-end -->
